<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985269812606-sl5uqle4ts3tqu082u7g26p4qi6np4hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985269812606-sl5uqle4ts3tqu082u7g26p4qi6np4hh</string>
	<key>API_KEY</key>
	<string>AIzaSyAA4WFIvMFp5a6tJM81SN6VrOxjojjV-18</string>
	<key>GCM_SENDER_ID</key>
	<string>985269812606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barneyztestapp01</string>
	<key>PROJECT_ID</key>
	<string>fulltest-a6522</string>
	<key>STORAGE_BUCKET</key>
	<string>fulltest-a6522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985269812606:ios:26ec4d4ff2fdfa5147072f</string>
</dict>
</plist>